:root {
  --bs-body-font-weight: 400;
}

/*-- scss:defaults --*/

// Grayscale
$white:                       #fff !default;
$gray-100:                    #f3f6ff !default;
$gray-200:                    #eff2fc !default;
$gray-300:                    #e2e5f1 !default;
$gray-400:                    #d4d7e5 !default;
$gray-500:                    #b4b7c9 !default;
$gray-600:                    #9397ad !default;
$gray-700:                    #565973 !default;
$gray-800:                    #33354d !default;
$gray-900:                    #0b0f19 !default;
$black:                       #000 !default;
$primary: #3782fd;
$font-family-base: "frutiger", sans-serif;
$font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
/*-- scss:rules --*/

$link-color: $primary;
$input-focus-border-color: $primary;
$input-btn-focus-box-shadow: $primary;

// Dropdown border radius: sass var does not work
.dropdown-menu {
  border-radius: 0.5rem;
}

// Display dropdown on hover (like cynkra.com)
.dropdown:hover .dropdown-menu {
  display: block;
}

// navbar items
.nav-item {
  text-transform: uppercase;
}
.dropdown-item {
  text-transform: none;
}

// let nav-footer-left expand more
.nav-footer-center {
  display: none;
}

// header font
h1, h2, h3, h4, h5:not(.quarto-listing-category-title), h6 {
  font-weight: 300;
}

// rounded post cards
#listing-blog .quarto-grid-item.card {
  border-radius: 0.5rem;
}

#listing-blog .thumbnail-image.card-img {
  border-radius: 0.5rem 0.5rem 0px 0px;
}

// NOTE: 'new' frutiger normal=400
@font-face {
    font-family: "frutiger";
    src: url("https://www.cynkra.com/assets/fonts/frutiger-400.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

// NOTE: 'new' frutiger light=300
@font-face {
  font-family: "frutiger";
  src: url("https://www.cynkra.com/assets/fonts/frutiger-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

// NOTE: 'new' frutiger bold=700
@font-face {
  font-family: "frutiger";
  src: url("https://www.cynkra.com/assets/fonts/frutiger-700.woff2") format("woff2");
  font-weight: bold; // same as 700
  font-style: normal;
}

/* copy-paste button ---------------------------------------------------------*/
.btn.btn-primary.btn-copy-ex {
	color: white;
}

/* cynkra logo classes  ----------------------------------------------------- */

#cynkra-logo-footer {
  height: 20px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#cynkra-logo-nav {
  height: 25px;
  padding-right: 20px;
  padding-bottom: 2px;
}

strong,
#quarto-margin-sidebar .quarto-listing-category-title {
  font-weight: 700; // NOTE: we only have 300=light, 400=normal and 700=bold
}

.quarto-listing-category {
  .category {
    &.active {
      color: $primary;
      font-weight: var(--bs-body-font-weight);
      text-decoration: underline;
    }
  }
}